h1{
  text-align: center;
  margin-bottom: 5rem;
}
form{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
form select{
  padding: .5rem;
}
.employee-name_container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem 2rem;
}
.form-field {
  display: flex;
  flex-direction: column;
}
.form-field input{
  padding: .4rem;
}
.form-field label {
  margin-bottom: 0.3rem;
  font-weight: bold;
}
.form-field input,
.form-field .react-datepicker-wrapper {
  width: 100%;
}
.form-field input,
.form-field select,
.form-field .react-datepicker-wrapper,
.form-field .react-datepicker-wrapper input {
  width: 100%;
  box-sizing: border-box;
}
.address{
  margin-top: 3rem;
  padding: 1.5rem;
  border: 1px solid #92ad19;
  border-radius: .5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem 2rem;
}
/* .address label{
  margin-right: .5rem;
  margin-left: 1rem;
} */
.address input{
  padding: .4rem;

}
.adresse-first_label{
  margin-left: 0!important;
}
.submit-container{
  text-align: center;
  margin-top: 2rem;
}
.submit-container button{
  cursor: pointer;
  padding: 1rem;
  background-color: #92ad19;
  border: none;
  border-radius: .3rem;
  color: white;
  font-size: medium;
}
@media (min-width: 320px) and (max-width: 719px){
  .employee-name_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .employee-name_container input{
    margin-bottom: 1rem;
  }
  .address{
    grid-template-columns: repeat(1, 1fr);
  }
  .address input, select{
    margin-bottom: 1rem;
  }
  .nav-header img {
    width: 12%!important;
    margin-bottom: 2rem;
  }
}