/* Supprime le texte "1-1 of 1" */
.MuiTablePagination-displayedRows {
  display: none;
}
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.tss-tlx3x1-MUIDataTableToolbar-root.css-1ygil4i-MuiToolbar-root{
  display: none;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation0.tss-11quiee-MUIDataTable-paper.tss-1x5mjc5-MUIDataTable-root.css-1gtchvp-MuiPaper-root{
  padding: 2rem;
}
.MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.tss-10syd3x-MUIDataTableHeadCell-root.tss-gm6zfk-MUIDataTableHeadCell-fixedHeader.css-1orzuox-MuiTableCell-root{
  padding: 0;
}
.tss-1akey0g-MUIDataTableHeadCell-data {
  text-transform: capitalize;
  font-weight: bold;
}
.employee-list_container th{
  font-weight: bold;
}
.delete_button{
  cursor: pointer;
  padding: 1rem;
  background-color: #92ad19;
  border: none;
  border-radius: .3rem;
  color: white;
  font-size: medium;
}
